.browse-container {
    position: relative;
    float: left;
    margin-left: -10px;
    margin-top: -10px;
    width: 100vw;
    border-bottom: 1px solid white;
}

.main-movie {
    position: absolute;
    /* margin-top: -10px;
    margin-left: -10px; */
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 0;
}

.main-movie-full {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 47vw;
}

.main-movie-container {
    position: relative;
}

.main-movie-icon {
    position: relative;
    margin-top: 21.7%;
    width: 19%;
    height: auto;
    z-index: 5;
    left: 4.1%;
}

.main-movie-thumb {
    position: absolute;
    /* margin-top: -10px;
    margin-left: -10px; */
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.main-movie-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    margin-top: 2.9%;
    padding-bottom: 4%;
}

.main-movie-buttons-left {
    display: flex;
    flex-direction: row;
    margin-left: 4.2%;
    width: 25%;
}

.main-movie-buttons-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
}

.main-movie-play, .main-movie-info, .main-movie-rating {
    z-index: 5;
}

.main-movie-play, .main-movie-info {
    font-weight: bold;
    height: 65%;
    border-radius: 5%;
}

.main-movie-play {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    width: 32%;
    margin-right: 4%;
}

.main-movie-play:hover, .main-movie-info:hover {
    cursor: pointer;
}

.main-movie-info {
    display: flex;
    flex-direction: row;
    background-color: rgba(124, 124, 124, 0.7);
    color: white;
    width: 45%;
}

.main-mute-on, .main-mute-off {
    z-index: 10;
}

.main-muted-icon, .main-unmuted-icon {
    border: white 1px solid;
    border-radius: 50%;
    padding: 0.4%;
    top: 33vw;
    right: 11%;
    width: 1.6vw;
    height: 1.6vw;
    position: absolute;
}

.main-muted-icon:hover, .main-unmuted-icon:hover {
    cursor: pointer;
    background-color: rgba(124, 124, 124, 0.7);
}

.main-movie-play p {
    font-size: 1.3vw;
    margin-top: 10%;
    padding-bottom: 12%;
    margin-left: 12%;
}

.main-play-icon {
    width: 13%;
    height: auto;
    margin-left: 20%;
}

.main-movie-info p {
    font-size: 1.3vw;
    margin-top: 7%;
    padding-bottom: 9%;
    margin-left: 10%;
}

.main-info-icon {
    width: 15%;
    height: auto;
    margin-left: 10%;
}

.main-movie-rating {
    background-color: rgba(65, 65, 65, 0.7);
    border-left: 3px solid white;
    width: 9vw;
    height: 50%;
    margin-left: 5%;
}

.main-movie-rating:hover {
    cursor: default;
}

.main-movie-rating p {
    margin-right: 12px;
    margin-top: 5%;
    margin-left: 13%;
    font-size: 1.3vw;
}

.genre-rows {
    position: absolute;
    top: 42vw;
    width: 100vw;
    margin-right: 0px;
}

.genre-row {
    display: flex;
    flex-direction: row;
    margin-bottom: -3vw;
    height: 18vw;
}

.genre-title {
    position: relative;
    font-size: 1.5vw;
    left: -96vw;
}

.browse-thumb {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0.4vw;
    z-index: 10000;
}

.browse-movies {
    margin-top: 3.4vw;
    margin-left: -5vw;
    flex-direction: row;
    display: flex;
}

.browse-movie {
    display: flex;
    flex-direction: column;
    top: 10vw;
    width: 15vw;
    height: auto;
    margin-right: .4vw;
    border-radius: 4px;
    transition: 1s ease;
}

.browse-movie-container {
    position: relative;
}

.browse-icon {
    position: relative;
    width: 63%;
    top: -5vw;
    left: 0vw;
    z-index: 100000;
}

.browse-movie-left {
    position: relative;
}

.browse-movie-right {
    position: relative;
}

.browse-movie-left, .browse-movie-right {
    opacity: 0%;
    z-index: 10;
    width: 2vw;
    min-width: 1.8vw;
    margin-left: -2vw;
}

.browse-left-label, .browse-right-label {
    display: inline-block;
    background-color: white;
    width: 2vw;
    height: 8.4vw;
    z-index: 10000000;
    opacity: 50%;
    min-width: .5vw;
    margin-top: 3.3vw;
}

.browse-left-label {
    position: relative;
    padding-left: 1.5vw;
    margin-left: -0.2vw;
}

.browse-right-label {
    position: relative;
    margin-left: 95.3vw;
    padding-left: 2vw;
}

.browse-movie-right:checked ~ .browse-movies {
    position: relative;
    transition: 1s ease;
    left: -173vw;
}

.browse-movie-left:checked ~ .browse-movies {
    transition: 1s ease;
    position: relative;
    left: -96vw;
}

.browse-dummy {
    opacity: 0;
    pointer-events: none;
}

.active-movie-play {
    position: relative;
    width: 15%;
    height: auto;
    z-index: 20;
    background-color: white;
}

.browse-play-icon {
    height: 3vw;
    margin-top: 1vw;
}

.active-movie-controls {
    background-color: gray;
    margin-top: -50%;
}

.browse-movie:hover {
    width: 22vw;
    transition: 1s ease;
}

.browse-movie-controls {
    background-color: gray;
    height: 4vw;
    margin-top: -7vw;
    padding-bottom: 2vw;
    -webkit-animation: fadein 2s;
    z-index: 10001;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}